services:
  backend:
    build:
      context: ./backend/IstasyonDemo.Api
      dockerfile: Dockerfile
    restart: always
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Production
      # Host kısmına Coolify'daki veritabanının internal adını yazdık
      - ConnectionStrings__DefaultConnection=Host=${DB_HOST};Database=${DB_NAME};Username=${DB_USER};Password=${POSTGRES_PASSWORD};TrustServerCertificate=True
      - AllowedOrigins__0=https://istasyon.tiginteknoloji.tr
      - AllowedOrigins__1=https://istasyonapi.tiginteknoloji.tr
      - JwtSettings__SecretKey=${JWT_SECRET}
      - GeminiSettings__ApiKey=${GEMINI_API_KEY}
      - TZ=Europe/Istanbul
    healthcheck:
      test: curl -f http://localhost:8080/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - coolify
    volumes:
      - backend_backups:/app/Backups

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - TZ=Europe/Istanbul
    networks:
      - coolify
    depends_on:
      - backend
    healthcheck:
      test: curl -f http://localhost/ || exit 1
      interval: 30s
      timeout: 5s
      retries: 3

  adminer:
    image: adminer
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=${DB_HOST}
      - ADMINER_DESIGN=pepa-linha
    networks:
      - coolify
    ports:
      - "8082:8080"
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8080 || exit 1
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  coolify:
    external: true
