:host {
    display: block;
}

// ============================================
// DESKTOP STYLING
// ============================================
@media screen and (min-width: 992px) {

    // Search bar styling
    ::ng-deep .p-iconfield {
        display: inline-block;

        .p-inputtext {
            width: 250px;
            transition: width 0.3s ease;

            &:focus {
                width: 320px;
            }
        }
    }
}