:host ::ng-deep {
    .p-datatable-sm {
        .p-datatable-thead>tr>th {
            background: var(--surface-50);
            padding: 0.75rem 1rem;
        }

        .p-datatable-tbody>tr>td {
            padding: 0.75rem 1rem;
        }
    }
}

// ============================================
// MOBILE STYLING
// ============================================
@media screen and (max-width: 768px) {
    .p-iconfield {
        width: 100%;

        .p-inputtext {
            width: 100% !important;
        }
    }
}

// ============================================
// DESKTOP STYLING
// ============================================
@media screen and (min-width: 992px) {

    // Search bar styling
    ::ng-deep .p-iconfield {
        display: inline-block;

        .p-inputtext {
            width: 250px;
            transition: width 0.3s ease;

            &:focus {
                width: 320px;
            }
        }
    }
}

.pulse-badge {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}